video{
    border: 2px solid black;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

}
canvas{
    position: absolute;
    
}